@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: montserrat;
}

h1 {
  margin-bottom: 20px;
}

body {
  background: url(fruits.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 400px 100px;
}

#quiz {
  width: 860px;
}

.buttons {
  display: flex;
  margin: 10px;
}

button {
  cursor: pointer;
  border: none;
  background: rgb(230, 92, 58);
  color: white;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 2px;
  width: 180px;
  padding: 10px 20px;
  margin: 10px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.2);
}

p {
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 40px;
  padding-bottom: 20px;
}

#question {
  font-size: 1.3em;
}

footer p {
  font-size: 0.8em;
}

span {
  color: red;
}

@media (max-width: 860px) {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
} ;
